@page "/shoppingList"
@layout ShoppingListLayout
@using BlazorApp1.Data
<PageTitle>@title</PageTitle>

<h3>ShoppingList</h3>

<EditForm Model="@grocery" OnValidSubmit="AddGrocery">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Name: </label>
        <InputText @bind-Value="grocery.Name" />
    </p>
    <p>
        <label>Price: </label>
        <InputNumber @bind-Value="grocery.Price" />
    </p>
    <button  class="btn btn-primary" type="submit">Add Grocery</button>
</EditForm>

<hr />

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grocery in groceries)
        {
            <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased" />
        }
    </tbody>
</table>

<h2>Total: @sum$</h2>

@code {
    private string title = "Shopping List";
    private float sum = 0;

    private Grocery grocery = new();

    private List<Grocery> groceries = new();

    private void AddGrocery()
    {
        groceries.Add(grocery);
        grocery = new();

        UpdateTotalAmount();
    }

    public void UpdateTotalAmount()
    {
        sum = groceries.Sum(x => x.Price);
    }

    public void OnGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }
}
