@page "/shoppingList"
@using BlazorApp1.Data
<PageTitle>@title</PageTitle>

<h3>ShoppingList</h3>



<input placeholder="Grocery Name" @bind="GroceryName"/>
<input placeholder="Grocery Name" @bind="GroceryPrice"/>
<button @onclick="AddGrocery">Add</button>
<hr />

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        @foreach(var grocery in groceries)
        {
            <Item GroceryItem="@grocery" OnGroceryPriceIncreased="OnGroceryPriceIncreased"/>
        }
  </tbody>
</table>

<h2>Total: @sum$</h2>

@code {
    private string title = "Shopping List";
    private float sum = 0;

    private string GroceryName = "";
    private float GroceryPrice;

    private List<Grocery> groceries = new();

    private void AddGrocery()
    {
        if(!string.IsNullOrWhiteSpace(GroceryName) && GroceryPrice > 0)
        {
            groceries.Add(new Grocery
                {
                    Name = GroceryName,
                    Price = GroceryPrice
                });

            GroceryName = string.Empty;
            GroceryPrice = 0;
        }

        UpdateTotalAmount();
    }


    public void UpdateTotalAmount()
    {
        sum = groceries.Sum(x => x.Price);
    }

    public void OnGroceryPriceIncreased()
    {
        UpdateTotalAmount();
    }
}
